:root {
  --tan: #d5966c;
  --dark: #151515;
  --grey: #444444;
  --white: #ffffff;

  /* Font Sizes */
  --heading-1: clamp(3.75rem, calc(3.75rem + ((1vw - 0.2rem) * 3.2143)), 6rem);
  --heading-2: clamp(
    3.125rem,
    calc(3.125rem + ((1vw - 0.2rem) * 1.7857)),
    4.375rem
  );
  --heading-3: clamp(
    3.125rem,
    calc(3.125rem + ((1vw - 0.2rem) * 0.8929)),
    3.75rem
  );
  --heading-4: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 0.3571)), 2.25rem);
  --text: clamp(1.125rem, calc(1.125rem + ((1vw - 0.2rem) * 0.3571)), 1.375rem);
  --text-sm: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 0.1786)), 1.125rem);
  --btn-text: 1.25rem;
}

@font-face {
  font-family: "Big Shoulders Display Black";
  font-weight: 900;
  src: local("Big Shoulders Display Black"),
    url("../../public/fonts/BigShouldersDisplay-Black.woff2") format("woff2"),
    url("../../public/fonts/BigShouldersDisplay-Black.woff") format("woff");
}

@font-face {
  font-family: "Big Shoulders Display ExtraBold";
  font-weight: 800;
  src: local("Big Shoulders Display ExtraBold"),
    url("../../public/fonts/BigShouldersDisplay-ExtraBold.woff2")
      format("woff2"),
    url("../../public/fonts/BigShouldersDisplay-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Outfit Regular";
  font-weight: 400;
  src: local("Outfit Regular"),
    url("../../public/fonts/Outfit-Regular.woff2") format("woff2"),
    url("../../public/fonts/Outfit-Regular.woff") format("woff");
}

@font-face {
  font-family: "Outfit Light";
  font-weight: 300;
  src: local("Outfit Light"),
    url("../../public/fonts/Outfit-Light.woff2") format("woff2"),
    url("../../public/fonts/Outfit-Light.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
