.btn {
  font-size: var(--btn-text);
  display: grid;
  grid-template-columns: 12.75rem 3.5rem;
  border: none;
  cursor: pointer;
  width: max-content;
}

.location.header {
  position: relative;
}
.btn-secondary {
  position: absolute;
  grid-template-columns: 3.5rem 12.75rem;
  top: 0;
  left: 0;
}
@media (width > 44em) {
  .btn-secondary {
    left: 40px;
  }
}
@media (width > 74em) {
  .btn-secondary {
    left: 156px;
  }
}
.btn-secondary .btn-text {
  order: 2;
}

.btn .btn-text {
  padding-block: 1.5rem;
  display: flex;
  justify-content: center;
  background: var(--dark);
  color: var(--white);
  transition: all 0.4s ease-in-out;
}

.btn .btn-icon {
  background-color: var(--tan);
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
}

.btn:is(:hover, :active) .btn-text {
  background: var(--tan);
}

.btn:is(:hover, :active) .btn-icon {
  background: var(--dark);
}
