.desktop-header {
  display: none;
}

.banner-img {
  width: 100%;
  max-inline-size: 100%;
}

.header-content {
  padding-inline: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-block-start: 2rem;
}

@media (width > 44em) {
  .header {
    display: flex;
    align-items: center;
    padding-inline-end: 1rem;
    height: max-content;
    /* background-color: tomato; */
  }
  .banner-img {
    width: 27.3125rem;
    height: 43.75rem;
    flex-shrink: 0;
    object-fit: cover;
  }
  .header-content {
    height: max-content;
    margin-inline-start: -3rem;
    padding: 0;
    gap: 3rem;
  }
}

@media (width > 74em) {
  .desktop-header {
    background-color: var(--dark);
    display: block;
    width: 100%;
    max-width: 450px;
    height: 50rem;
  }
  .desktop-heading-white,
  .desktop-heading-black {
    position: absolute;
    top: 11.81rem;
    left: 10.31rem;
    color: var(--white);

    font-family: "Big Shoulders Display Black";
    font-size: var(--heading-1);
    line-height: 0.91667;
    text-transform: uppercase;
    z-index: 4;
  }
  .desktop-heading-black {
    color: var(--dark);
    z-index: 3;
  }
  .header {
    /* background-color: turquoise; */
    height: max-content;
    position: relative;
  }
  .banner-img {
    width: 33.75rem;
    height: 50rem;
    flex-shrink: 0;
  }
  .hero-heading {
    display: none;
  }
}
