.hero-heading {
  font-family: "Big Shoulders Display Black";
  color: var(--dark);
  font-size: var(--heading-1);
  font-style: normal;
  line-height: 0.91667;
  text-transform: uppercase;
}
.hero-text {
  font-family: "Outfit Regular";
  line-height: 1.55556;
  color: var(--grey);
  font-size: var(--text);
  max-width: 25rem;
}
.btn {
  font-family: "Big Shoulders Display ExtraBold";
  line-height: normal;
  letter-spacing: 0.22725rem;
  text-transform: uppercase;
}

@media (width > 48em) {
  .hero-heading {
    line-height: 0.92857;
  }
}

@media (width > 74em) {
  .hero-text {
    max-width: 22rem;
    line-height: 1.45455;
  }
}

/* Main Section */

.gallery-content h2 {
  font-family: "Big Shoulders Display Black";
  font-size: var(--heading-3);
  margin-block-start: 1.56rem;
  line-height: 0.9;
  color: var(--dark);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.gallery-content p {
  font-family: "Outfit Regular";
  font-size: var(--text);
  line-height: 1.56;
  margin-block-start: 1.31rem;
  color: var(--grey);
  max-width: 30rem;
}

@media (width > 44rem) {
  .gallery-content h2 {
    margin-block-start: 0;
  }

  .gallery-content p {
    margin-block-start: 1.5rem;
  }
}

.gallery-2-content h2 {
  font-family: "Big Shoulders Display Black";
  font-size: var(--heading-3);
  line-height: 0.9;
  text-transform: uppercase;
}

.gallery-2-content p {
  font-family: "Outfit Regular";
  font-size: var(--text);
  opacity: 0.8;
  line-height: 1.5556;
}

.location-heading {
  font-size: var(--heading-2);
  font-family: "Big Shoulders Display Black";
  text-transform: uppercase;
  line-height: 0.9;
}
.location-inner-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.location-subheading {
  font-size: var(--heading-4);
  font-family: "Big Shoulders Display Black";
  color: var(--tan);
  text-transform: uppercase;
  /* margin-block-end: 1.25rem; */
}

.address {
  font-family: "Outfit Regular";
  font-size: var(--text);
  /* margin-block-end: 1.25rem; */
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.location-text {
  font-family: "Outfit Regular";
  line-height: 1.55556;
  font-size: var(--text);
}
